alembic==1.6.5
fastapi==0.65.2
FastAPI-SQLAlchemy==0.2.1
pipenv==2021.5.29
psycopg2==2.9.1
python-dateutil==2.8.1
python-dotenv==0.18.0
python-editor==1.0.4
regex==2021.4.4
SQLAlchemy==1.4.19
starlette==0.14.2
uvicorn==0.14.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
